body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

.noscroll {
    position: fixed;
    overflow-y: scroll;
}

#header {
    transition: top 200ms ease-out;
    -webkit-transition: top 200ms ease-out;
    margin: auto;
    background: #fff;
    position: fixed;
    z-index: 3;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: auto;
    overflow: auto;
    text-align: center;
}

#header a:hover:not(#clearBtn,
#searchBtn) {
    background-color: #d0daec;
    padding: 2px 0;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

#headerBlock {
    position: relative;
}

#headerBlock .overlay {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 10px;
    opacity: 1;
    width: calc(100% - 20px);
    height: 40%;
    padding: 0;
    max-width: 550px;
}
  
.titleText {
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    color: #3b3c3d;
  }
  
.headerLinks {
    float: right;
    padding: 2%;
    font-size: 3vw;
    height: 100%;
}

.headerLinks a {
    text-decoration-style: dotted;
    color: #3b3c3d
}

/* Adjust header for screens wider than logo.png + padding */
@media screen and (min-width: 620px) {
    #header {
        width: calc(100% - 20px);
    }
    #headerBlock .overlay {
        left: calc(50% - 250px);
    }
    .titleText {
        font-size: 30px;
     }
    .headerLinks {
        font-size: 16px;
     }
 }

.filterCell {
    display: inline-block;
    font-weight: bold;
    font-size: small;
    vertical-align: bottom;
    padding: 11px 0 15px 0;
    color: grey;
    font-style: italic;
}

.filterCell img {
    height: 20px;
    width: auto;
    vertical-align: middle;
    margin-bottom: 2px;
}

.filterCell input,
.filterCell select,
.filterCell button {
    color: grey;
    background-color: white;
    font-style: italic;
    border: 1px solid grey;
}

input.active,
select.active,
.active input,
.active select,
.active button {
    color: black;
    font-style: normal;
}

input.set,
select.set,
.set input,
.set select,
.set button {
    color: black;
    font-style: normal;
    background-color: #f8ecb9;
}

button.innerClear {
    border-left: 0;
    outline: none;
    height: 25px;
    font-style: normal;
}

label {
    margin-left: 8px;
}

label.toDate {
    margin-left: 0;
}

#toDate {
    width: 135px;
    padding: 0 5px;
    height: 22.5px;
    border-right: 0;
    outline: 0;
}

#toDate,
#topic,
#person {
    height: 25;
    vertical-align: bottom;
}

.btnBg {
    background-color: white;
}

#search {
    height: 25;
    width: 148;
    margin-left: 10px;
}

#searchBtn,
#clearBtn {
    background-color: white;
    background-size: contain;
    width: 25px;
    height: 25px;
    border: 0;
    opacity: .5;
}

#searchBtn {
    background: url("../images/search.svg");
    background-size: contain;
}

.btnBg + .btnBg {
    margin-left: 8px;
}

#clearBtn {
    background: url("../images/clear.svg");
    background-size: contain;
    opacity: 0.5;
}

#clearBtn:hover {
    background: url("../images/clearon.svg");
    background-size: contain;
    opacity: 1;
}

#searchBtn:hover {
    background: url("../images/searchon.svg");
    background-size: contain;
    opacity: 1;
}

#searchBtn.set,
.set #clearBtn {
    opacity: 1;
}


/* Add your own MailChimp form style overrides in your site stylesheet or in this style block. We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


/* The Modal (background) */

#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
}

#mc_embed_signup {
    left: 10px;
}

#about {
    left: 10px;
}

.pennant {
    font: 14px "Times New Roman", arial, serif;
    color: #26315a;
    max-width: 395px;
    min-width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -2000;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.50);
    transition: top 500ms ease-in-out;
    background-color: white;
    opacity: 1;
    z-index: 2;
    overflow: hidden;
}

.pennant > div,
#mc_embed_signup_scroll {
    margin-left: 10px;
    overflow: auto;
    height: 100%;
}

.pennant h2,
#mc_embed_signup h2 {
    font-size: 18px;
    margin: 6px 0;
}

.pennant h3 {
    margin: 3px 0;
    font-style: italic;
    font-size: 16px;
}

.pennant p,
#about p {
    margin: 8px 0;
}

.pennant a {
    color: #405398;
    text-decoration-style: dashed;
}

.pennant a:hover,
.pennant a:active {
    color: #405398;
    background-color: #d0daec;
}

.pennant a:visited {
    color: #524099;
}

.pennant .row {
    display: inline-block;
    margin: 2px 0;
    overflow: hidden;
    width: 100%;
}

.row > div {
    display: inline;
    float: left;
    margin: 2px;
}

.term {
    width: 30%;
    font-weight: bold;
}

.description {
    width: 65%;
    margin-left: 5px;
}

#mc_embed_signup .button {
    background-color: #405398;
}

#mc_embed_signup .button:hover {
    background-color: #26315a;
}


/* The Close Button */

.close {
    color: #d0daec;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 20px;
}

#imgBox .close {
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    color: black;
    opacity: .5;
    text-align: center;
    line-height: 20px;
    background-color: white;
}

.close:hover,
.close:focus {
    color: #405398;
    text-decoration: none;
    cursor: pointer;
}

#imgBox .close:hover,
#imgBox .close:focus {
    color: black;
    opacity: 1;
}

#show {
    position: fixed;
    background-color: black;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

#imgBox {
    transition: opacity 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out;
    opacity: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}


/*Start here*/

#shownImg {
    transition: max-width 0.6s, max-height 0.6s ease-out;
    -webkit-transition: max-width 0.6s, max-height 0.6s ease-out;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#shownImg.overHeight {
    top: 0;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
}

#zoomDiv {
    display: block;
    position: absolute;
    right: 40px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 0;
    opacity: 0.5;
    background-color: white;
    border-radius: 3px;
}

#zoomDiv.hidden {
    display: none;
}

#zoomBtn {
    background-image: url("../images/fit_to_window.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5px;
}

#zoomDiv:hover,
#zoomDiv:focus {
    opacity: 1;
    cursor: pointer;
}

#zoomBtn.fit {
    background-image: url("../images/actual_size.svg");
}


/* Use 1000% not none so transition will work */


/*End here*/

#stories {
    position: absolute;
    width: 100%;
}

.loadImg {
    position: absolute;
    top: 60px;
    left: 50px;
}

.thumb img {
    max-width: 100%;
    left: 0;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.40);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.thumb img:hover {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.40);
    transform: scale(1.025, 1.025);
    -ms-transform: scale(1.025, 1.025);
    -webkit-transform: scale(1.025, 1.025);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    cursor: pointer;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid lightgrey;
    margin: 0;
}

.story {
    border-radius: 2px;
    overflow: visible;
    position: relative;
}

.details h2 {
    margin: 5px 0;
}

.byline {
    margin: 0;
    font-style: italic;
}

.tagline {
    margin: 5px 0;
    font-size: small;
}

.citeline {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
}

.noWrap {
    display: inline-block;
}

.textIcon {
    vertical-align: middle;
    height: 15px;
}

.textBtn {
    vertical-align: middle;
    height: 22px;
}

.puff {
    display: inline-block;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
    outline: 0;
    transition: box-shadow 0.0s;
    z-index: 1;
}

.puff:focus {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0);
    transition: box-shadow 1s ease-out;
}

.copyMe {
    position: relative;
    z-index: 1;
}

.copyMe:after {
    content: "Story copied";
    font-family: sans-serif;
    font-size: 12px;
    color: #888;
    position: absolute;
    left: 100%;
    top: 100%;
    margin: 10px 0;
    padding: 2px;
    white-space: nowrap;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    border: 1px solid #888;
}

.copyMe:focus:after {
    animation: fade 900ms linear 100ms;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.note {
    font-style: italic;
    color: darkgrey;
    margin: 33px 0 0 22px;
}


/* Desktop or landscape mobile */

@media screen and (min-width: 12cm) {
    .img-responsive {
        width:100%;
        max-width: 600px;
    }
    
    .story {
        width: 85%;
        margin: 10px auto;
    }
    .details {
        width: 48%;
    }
    .thumb {
        width: 48%;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
    }
    .thumb img {
        max-height: 100%;
    }
}


/* Portrait mobile */

@media not screen and (min-width: 12cm) {
    .img-responsive {
        width:85%;
    }
    
    #headerLinks {
        left: 10px;
    }
    .filterCell {
        padding: 0 0 5px 0;
    }
    .pennant {
        width: 325px;
    }
    .story {
        margin: 10px;
    }
    .thumb {
        margin: 10px 0;
        position: relative;
        min-height: 130px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .thumb img {
        max-height: 200px;
    }
    #mc_embed_signup,
    #about {
        left: 10px;
    }
}


/* Animation for "Loading..." text */

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* Animation for notice text */

@keyframes highlight {
    0% {
        background: #eecc44;
    }
    100% {
        background: none;
    }
}

@-o-keyframes highlight {
    0% {
        background: #eecc44;
    }
    100% {
        background: none;
    }
}

@-moz-keyframes highlight {
    0% {
        background: #eecc44;
    }
    100% {
        background: none;
    }
}

@-webkit-keyframes highlight {
    0% {
        background: #eecc44;
    }
    100% {
        background: none;
    }
}

#loadStories {
    text-align: center;
    line-height: 250px;
    font-size: 20px;
    font-style: italic;
    color: darkgrey;
}

#loadStories,
.loadImg {
    -webkit-animation: flicker 2s infinite;
    -moz-animation: flicker 2s infinite;
    -o-animation: flicker 2s infinite;
    animation: flicker 2s infinite;
}

.notice {
    -webkit-animation: highlight 3s ease-out;
    -moz-animation: highlight 3s ease-out;
    -o-animation: highlight 3s ease-out;
    animation: highlight 3s ease-out;
}
