<div class="modal-body" ng-swipe-left="Lightbox.nextImage()" ng-swipe-right="Lightbox.prevImage()">
  <div class="lightbox-image-container">
    <!-- citation -->
      <p class="citeline">
        <a ng-show="s.online" href="{{g.onlinePrefix}}{{s.online}}" target=_blank><img class="textBtn" src="images/online.svg" title="This story is available on the {{g.paperShortName}} website"></a>
        <span class="noWrap">{{g.paperName}}</span>
        <span class="noWrap">{{s.dateString}}</span> &ndash; page {{s.page}}
      </p>

    <div class="lightbox-image" lightbox-size="{{Lightbox.imageUrl}}">

      <!-- image -->
      <img ng-class="{true: 'fit', false: 'unfit'}[Lightbox.fit]" ng-src="{{Lightbox.imageUrl}}" ng-dblclick="{true: Lightbox.fit = !Lightbox.fit} [Lightbox.overSize]">
    </div>

    <!-- fit-to-window button -->
      <button ng-if="Lightbox.overSize" ng-class="{true: 'zoom fit', false: 'zoom unfit'}[Lightbox.fit]" ng-click="Lightbox.fit = !Lightbox.fit" title="{{{true: 'Actual size', false: 'Fit to window'}[Lightbox.fit]}}"></button>

    <!--       close button -->
      <button class="close" aria-hidden="true" ng-click="Lightbox.closeModal()">×</button>

    <div class="lb-share-row">
  <div class="lb-share">
            <ng-include src="'shareBtns'"></ng-include>
  </div>
</div>
        <div class="lb-nav" ng-if="Lightbox.images.length > 1">
            <a class="lb-prev" ng-if="Lightbox.images.length > 1 && Lightbox.index > 0" href="" ng-click="Lightbox.prevImage()"></a>
            <a class="lb-next" href=""  ng-if="Lightbox.images.length > 1 && Lightbox.index < Lightbox.images.length - 1" ng-click="Lightbox.nextImage()"></a>
        </div>

  </div>
</div>
