<html ng-app="newsclip">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="uib/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="abl/dist/angular-bootstrap-lightbox.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel=stylesheet href="css/newsclip.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.min.js"></script>
    <script src="js/infinite-scroll.js"></script>

    <script src="uib/dist/ui-bootstrap.js"></script>
<!--    <script src="abl/dist/angular-bootstrap-lightbox.js"></script>-->
    <script src="js/abl-newsclip.js"></script>
    <script src="js/newsclip.js"></script>
    
    <script type="text/ng-template" id="shareBtns">
        <div ng-if="true" class="shareBtns">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{g.sharePrefix}}{{s.link}}" target="_blank"><img class="textBtn" src="images/fb_share.svg" title="Share on Facebook"></a><a href="https://twitter.com/intent/tweet?text={{s.tweet}}&url={{g.sharePrefix}}{{s.link}}&hashtags={{g.hashtag}}" target="_blank"><img class="textBtn" src="images/tweet.svg" title="Tweet this story"></a><a href="{{s.mailLink}}" target="_blank"><img class="textBtn" src="images/mail.svg" title="Mail this story"></a><a href="javascript:;" class="copyMe puff" tabindex="1"><img class="textBtn puff" src="images/copy.svg" title="Copy story to clipboard"></a><a ng-if="s.replyLink" href="{{s.replyLink}}" target="_blank"><img class="textBtn" src="images/reply.svg" title="Write to the paper"></a>
        </div>
    </script>
</head>

<body ng-controller="pageController as p">
    <!--    <div id="stories" ng-controller="storyController as storyCtrl">-->
    <div id="stories" infinite-scroll="addStories({{g.bucket}})" threshold="100" can-load="g.moreStories">
        <div class="story" id="{{s.link}}" ng-repeat="s in p.stories">

            <div class="details">
                <h2>{{s.title}}</h2>

                <!-- byline-->
                <p class="byline" ng-show="s.author || s.online">
                    <a ng-show="s.online" href="{{g.onlinePrefix}}{{s.online}}" target=_blank><img class="textBtn" src="images/online.svg" title="This story is available on the {{g.paperShortName}} website"></a>
                    {{s.author}}
                </p>

                <!--  tagline-->
                <p class="tagline">
                    <img ng-show="s.topics.length" class="textIcon" ng-src="images/topic.svg" title="Topics tagged in this story">
                    <span ng-repeat="top in s.topics"><a href="javascript:;" >{{top}}</a> </span>

                    <img ng-show="s.person" class="textIcon" src="images/person.svg" title="SSEC members tagged in this story">
                    <span ng-repeat="per in s.person"><a href="javascript:;" title="{{per.fullname}}">{{per.initials}}</a> </span>
                </p>

                <!-- citeline-->
                <p class="citeline"><span class="noWrap">{{g.paperName}}</span>
                    <span class="noWrap"><a href="javascript:;">{{s.dateString}}</a></span> &ndash; page {{s.page}}</p>

                <!-- shareBtns-->
                <ng-include src="'shareBtns'"></ng-include>
            </div>

            <div class="thumb">
                <img ng-if="s.link" ng-click="openLightboxModal($index)" ng-src="{{g.thumbPrefix}}{{s.link}}" title="Click to view">
                <p ng-hide="s.link" class="note">no image</p>
            </div>
            <hr>

        </div>
    </div>
</body>

</html>
